#hehe

bash==0.6
cachetools==4.2.1
#causalml==0.9.0
dowhy==0.6
graphviz==0.16
imbalanced-learn==0.7.0
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-core==4.7.1
Markdown==3.3.3
matplotlib==3.4.1
numpy==1.19.5
pandas==1.2.3
parso==0.7.1
pipreqs==0.4.10
plotly==4.14.3
python-utils==2.5.6
#regex==201.4.4
scikit-image==0.17.2
scikit-learn==0.24.1
scipy==1.6.2
seaborn==0.11.1
#shap==0.38.1
sklearn==0.0
yellowbrick==1.3.post1


